<!--
<div>
    <div style="position: relative;">
        <textarea (blur)="changeDescription()" name="description" cols="11" rows="5" [placeholder]="'Ajouter une description au niveau'" [(ngModel)]="saisieDesc"></textarea>
    </div>
</div>

<div>
    <input type="number"
     style="width:30px"  [placeholder]="niveau.points" [(ngModel)]="niveau.points">
    points
</div>

<div style="position: relative; margin: 10px;">
    <button (click)="delete()" [disabled]= "disabled">Supprimer</button>
</div> -->
