<mat-card>
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let item of items; let isFirst=first; let isLast=last; trackBy: trackBy">
      <app-criteria
        [item]="item"
        [disabled]="item.levels.length <= 2"
        [canMoveUp]="!isFirst"
        [canMoveDown]="!isLast"
        (delete)="deleteCritere($event)"
        (moveUp)="moveUp($event)"
        (moveDown)="moveDown($event)">
      </app-criteria>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="addCritere()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
