
<div>
    <table>
        <ng-container *ngFor="let item of items">
            <tr>
                <td style="background-color: rgb(183, 135, 220);">
                    <div>
                        <div>
                            <button class="space" (click)="moveUp(items.indexOf(item))" [disabled]="items.indexOf(item) == 0">Déplacer haut</button>
                        </div>
                        <div>
                            <button  [disabled]="items.length <= 2" (click)="delete(item)" class="space">Supprimer</button>
                        </div>
                        <div>
                            <button class="space" (click)="moveDown(items.indexOf(item))" [disabled]="items.indexOf(item) == items.length - 1" >Déplacer bas</button>
                        </div>
                    </div>
                </td>
                <app-criteria style="border-collapse: collapse; float: left;" [critere]="item"></app-criteria>
            </tr>
        </ng-container>
    </table>
    <p>
        <button (click)="add()">Ajouter un critère</button>
    </p>
</div>
<p>
    <button (click)="affichage()">
        Enregistrer la grille
    </button>
</p>