
<td style= "background-color: rgb(226, 188, 255);">
    <div>
        <textarea (blur)="changeDescription()" name="description" cols="10" rows="5" [placeholder]="'Ajouter une description au critere'" [(ngModel)]="saisieDesc"></textarea>
    </div>
</td>

<td style= "background-color: rgb(241, 224, 255); padding: 0px;">
    <table>
        <tr>
            <ng-container *ngFor="let item of critere.niveaux">
                <td style="padding: 5px;">
                    <div>
                        <app-level [niveau]="item" [numberOfLevel]="critere.niveaux.length" (nbDeleteLevel)="deleteLevel(item)"></app-level>
                    </div>
                </td>
            </ng-container>
        </tr>
    </table>
</td>

<td style= "background-color: rgb(226, 188, 255);">
    <div>
        <button (click)="addLevel()">Ajouter un niveau</button>
    </div>
</td>
